<div class="margin" style="text-align:center">
  <h1>Gestão de Itens</h1>
  <button class="buttonA button2" (click)="criarItem()">Criar Item</button>
  <button class="buttonA button2" (click)="editarItem()">Editar Item</button>
  <button class="buttonA button2" (click)="apagarItem()">Apagar Item</button>
  <button class="buttonA button2" (click)="listarItens()">Listar Itens</button>
  <button class="buttonA button2" (click)="procurarItem()">Procurar Item</button>
</div>

<div *ngIf="itemEditar" style="text-align:center">
  <div style="width:500px;" style="text-align:center">
    <h4>Produto</h4>
    <mat-form-field>
      <mat-select placeholder="Item">
        <mat-option *ngFor="let i of itens" [value]="i.nome">
          {{i.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <label>nome:
    <input [(ngModel)]="p.nome" placeholder="nome" />
  </label>
  <h4>Categoria</h4>
  <mat-form-field>
    <mat-select placeholder="Categoria">
      <mat-option *ngFor="let c of categorias" [value]="c.taxonomia">
        {{c.taxonomia}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button (click)="save()">save</button>
</div>

<div *ngIf="itemCriar" style="text-align:center">
  <h1>Crie o seu produto</h1>
  <div><span>Nome: </span>
    <input placeholder="nome" />
  </div>
  <br>
  <div style="width:500px;" style="text-align:center">
    <h4>Categoria</h4>
    <mat-form-field>
      <mat-select placeholder="Categoria">
        <mat-option *ngFor="let c of categorias" [value]="c.taxonomia">
          {{c.taxonomia}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <br>
  <h4>Material</h4>
  <mat-form-field>
    <mat-select placeholder="Material">
      <mat-option *ngFor="let m of materiais" [value]="m.descricao">
        {{m.descricao}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <h4>Acabamento</h4>
    <mat-form-field>
      <mat-select placeholder="Acabamento">
        <mat-option *ngFor="let a of acabamentos" [value]="a.descricao">
          {{a.descricao}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  <br>
  <div><span>Dimensão: </span>
    <input placeholder="nome" />
  </div>
  <button (click)="save()">save</button>
</div>

<div *ngIf="itemApagar" style="text-align:center">
  <div style="width:500px;" style="text-align:center">
    <h4>Produto</h4>
    <mat-form-field>
      <mat-select placeholder="Produto">
        <mat-option *ngFor="let p of produtos" [value]="p.nome">
          {{p.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button (click)="delete()">Apagar</button>
</div>

<div *ngIf="itensListar" style="text-align:center">
  <div style="width:500px;" style="text-align:center">
    
  </div>
</div>

<div *ngIf="itemProcurar" style="text-align:center">
  <div style="width:500px;" style="text-align:center">
    <h4>Produto</h4>
    <mat-form-field>
      <mat-select placeholder="Produto">
        <mat-option *ngFor="let p of produtos" [value]="p.nome">
          {{p.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <label>Nome:  </label>
    <label>p.nome</label> 
    <label>Categoria:  </label>
    <label>p.categoria</label>
    <label>Material:  </label>
    <label>p.material</label>
    <label>Acabamento:  </label>
    <label>p.acabamento</label>
    <label>Dimensão:  </label>
    <label>p.dimensão</label>
  </div>
</div>