<div class="margin" style="text-align:center">
  <h1>Gestão de Produtos</h1>
  <button class="buttonA button2" (click)="criarProduto()">Criar Produto</button>
  <button class="buttonA button2" (click)="editarProduto()">Editar Produto</button>
  <button class="buttonA button2" (click)="apagarProduto()">Apagar Produto</button>
  <button class="buttonA button2" (click)="listarProduto()">Listar Produtos</button>
</div>

<div *ngIf="statusMessage; else noError">
  <div class="errorMsg">{{statusMessage}}</div>
</div>

<ng-template #noError>
  <div *ngIf="produtoEditar" style="text-align:center">
    <span>Produto</span>
    <mat-form-field>
      <mat-select placeholder="Produto">
        <mat-option *ngFor="let p of produtos" value="{{p.id}}">
          Nome: {{p.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <div>
      <span>Nome: </span>
      <input [(ngModel)]="p.nome" placeholder="nome" />
    </div>
    <br>
    <span>Categoria: </span>
    <mat-form-field>
      <mat-select placeholder="Categoria">
        <mat-option *ngFor="let p of produtos" [value]="p">
          {{p.categoria}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <span>Material: </span>
    <mat-form-field>
      <mat-select placeholder="Material">
        <mat-option *ngFor="let p of produtos" [value]="p">
          {{p.materiais}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <span>Acabamento: </span>
    <mat-form-field>
      <mat-select placeholder="Acabamento">
        <mat-option *ngFor="let p of produtos" [value]="p">
          {{p.acabamentos}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <div><span>Altura Mínima: </span>
      <input [(ngModel)]="p.dimensoes.altura.min" placeholder="altura mínima" />
    </div>
    <div><span>Altura Máxima: </span>
      <input [(ngModel)]="p.dimensoes.altura.max" placeholder="altura máxima" />
    </div>
    <div><span>Largura Mínima: </span>
      <input [(ngModel)]="p.dimensoes.largura.min" placeholder="largura mínima" />
    </div>
    <div><span>Largura Máxima: </span>
      <input [(ngModel)]="p.dimensoes.largura.max" placeholder="largura máxima" />
    </div>
    <div><span>Profundidade Mínima: </span>
      <input [(ngModel)]="p.dimensoes.profundidade.min" placeholder="profundidade mínima" />
    </div>
    <div><span>Profundidade Máxima: </span>
      <input [(ngModel)]="p.dimensoes.profundidade.max" placeholder="profundidade máxima" />
    </div>
    <div><span>Unidade: </span>
      <input [(ngModel)]="p.unidade.tipoUnidades" placeholder="unidade" />
    </div>
    <button (click)="save()">save</button>
  </div>

  <div *ngIf="produtoCriar" style="text-align:center">
    <div>
      <br>
      <span>Nome: </span>
      <input placeholder="nome" />
    </div>
    <br>
    <div style="width:500px;" style="text-align:center">
      <span>Categoria</span>
      <mat-form-field>
        <mat-select placeholder="Categoria">
          <mat-option *ngFor="let p of produtos" [value]="p.categoria">
            {{p.categoria}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br>
    <span>Material: </span>
    <mat-form-field>
      <mat-select placeholder="Material">
        <mat-option *ngFor="let p of produtos" [value]="p.materiais">
          {{p.materiais}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <span>Acabamento: </span>
    <mat-form-field>
      <mat-select placeholder="Acabamento">
        <mat-option *ngFor="let p of produtos" [value]="p.acabamentos">
          {{p.acabamentos}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <div><span>Dimensão: </span>
      <input placeholder="dimensão" />
    </div>
    <button (click)="save()">save</button>
  </div>


  <div *ngIf="produtoApagar" style="text-align:center">
    <span>Produto</span>
    <mat-form-field>
      <mat-select placeholder="Produto">
        <mat-option *ngFor="let p of produtos" value="{{p.id}}">
          Nome: {{p.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button (click)="delete(p)">Apagar</button>
  </div>

  <div *ngIf="produtoListar" style="text-align:center">
    <span>Produtos</span>
    <mat-form-field>
      <mat-select placeholder="Produto">
        <mat-option *ngFor="let p of produtos" value="{{p.id}}">
          Nome: {{p.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button (click)="delete(p)">Apagar</button>
  </div>

  <div *ngIf="produtosListar" style="text-align:center">
    <div style="width:500px;" style="text-align:center">
      <span>Produto</span>
      <mat-form-field>
        <mat-select placeholder="Produto">
          <mat-option *ngFor="let p of produtos" value="{{p.id}}">
            Nome: {{p.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br>
    <div>
      <span>Nome: </span>
      <span>{{p.nome}}</span> <br>
    </div>

  </div>
</ng-template>